<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Ingreso'}) %>
<body>
    <div class="conImagen">
        <img src="./images/Icono-74.png" alt="">
    </div>
    <div class="contenedor">
        <form action="/registro" method="POST">
            <h3>Registro de Usuarios</h3>
            <input type="email" placeholder="Correo Electrónico" name="email">
            <input type="password" name="pass" placeholder="Contraseña">
            <input type="text" placeholder="Nombre" name="name">
            <input type="text" placeholder="Apellido" name="apellido">
            <input type="text" placeholder="Tipo de usuario" name="user">
            <button type="submit">Ingresar</button>
            <br>
            <h5 id="retorno">hola</h5>
        </form>
    </div>
</body>
</html>