<div class="barra">
    
    <div class="list-group">
        <a href="/home" class="list-group-item list-group-item-action">Inicio</a>
        <a href="/empleados" class="list-group-item list-group-item-action">Empleados</a>
        <a href="/payroll" class="list-group-item list-group-item-action">Payroll</a>
        <a href="#" class="list-group-item list-group-item-action">Reportes</a>
        <a href="/config" class="list-group-item list-group-item-action">Configuración</a>
    </div>
</div>