<header class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-5 col-md-3">
				<a href="/home" class="">
					<img src="/images/icono-74.png">
				</a>
			</div>

			<div class="col-6 col-md-6">
				<form action="/search" method="GET" class="form-header">
					<div>
					<input type="text" name="busqueda" placeholder="Buscar Incidentes" class="">
					<button type="submit" class="botonBusqueda"><i class="fas fa-search"></i></button>
				</div>
				</form>
			</div>

<!-- muestra el nombre de usuario -->
	
			<div class="col-12 col-md-3">
				<div class="datoUser">
				<a href="#" class="datoUser">
					<i class="fas fa-users"></i>
					
					<h4>Hola <%= usuario.first_name %></h4>
					
				</a>
				<a href="/exit" class=""><i class="fas fa-sign-out-alt"></i></a>
				
				</div>
			</div>
			

		</div>

		
	</div>
</header>