.header {
    background-color: var(--dark-blue);
    box-shadow: 0px 15px 21px -5px rgba(201, 209, 209, 0.4);
  
}

header div div div a img {
    margin-top: 10px;
    margin-left: 110px;
    margin-bottom: 10px;
    width: 30%;
    
}


div form.form-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;


}
header div div div form.form-header div {
    display: flex;
    width: 80%;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}

header div div div form.form-header div input {
    border-radius: 10px;
    width: 80%;
    margin-right: 0;
    border: none;

}
header div div div form.form-header div button.botonBusqueda {
    display: inline;
    margin: 0;
    width: auto;
    height: 80%;    
    margin-top: 6px;
    border: none;
    background-color: white;
    font-size: 25px;
    color: var(--light-blue)
}

header div div div div.datoUser {
    padding-top: 10px;
    font-size: 25px;
    align-items: center;
    text-align: center;
    
}

header div div div a.datoUser {
    text-decoration: none;
}
header div div div a.datoUser:hover {
    color: whitesmoke;
}

header div div div a.datoUser i {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 7px;
    
}
header div div div a.datoUser h4 {
    margin-top: 5px;
    font-size: 18px;
}