


  form img {
    width: 100%;
    margin: 0 auto;
  }
  
  div.contenedor {
    margin: 0 auto;
    margin-top: 40px;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
    font-family: var(--font-monts);
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0px 2px 25px 12px rgba(0, 0, 0, 0.5);
  }
  
  div form {
    display: flex;
    flex-direction: column;
  }
  div form h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--font-monts);
    font-size: 20px;
    color: white;
  }
  
  div form input {
    display: inline-flexbox;
    margin: 10px 30px;
    padding: 10px 10px;
    font-family: var(--font-monts);
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.575);
  }

  div form small {
    margin-left: 10%;
    color: red;
  }

  div form button {
    width: 80%;
    margin: 0 auto;
    padding: 5px 10px;
    font-family: var(--font-monts);
    font-size: 15px;
    background-color: var(--light-gray);
    color: var(--compensados1);
    border-radius: 20px;
    font-weight: bold;
  }
  div form a {
    width: 100%;
    margin-left: 10%;
    
  }
  
  div.recordar {
    display: flexbox;
    justify-content: space-between;
  }
  div.recordar input {
    display: inline-flexbox;
    font-family: var(--font-monts);
    margin-right: 10px;
  }
  div.recordar label {
    display: inline-flexbox;
    font-family: var(--font-monts);
    color: grey;
    font-size: 12px;
  }
  div.recordar a.olvido {
    margin-left: 10%;
    margin-bottom: 5%;
    display: inline-block;
    font-family: var(--font-monts);
    color: grey;
    font-size: 12px;
    width: auto;
    
  }
  
  @media (min-width: 500px) {
   
    div.contenedor {
      width: 55%;
    }
  }

  @media (min-width: 700px) {
    
    div.contenedor {
      width: 44%;
    }
    div.recordar a {
      
      display: inline-block
    }
  }
  @media (min-width: 1000px) {
    
    div.contenedor {
      width: 33%;
      padding-top: 0px;
    }
  }